
/* navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff0f3;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: #520918;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #fff7f7;
  
 .menubio {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  width: 200px;
		  background-color: #f1f1f1;
		}

		li a {
		  display: block;
		  color: black;
		  padding: 8px 16px;
		  text-decoration: none;
		}

		/* Change the link and background color on hover */
		li a:hover {
		  background-color: #555555;
		  color: white;
		}
}
/* Boite page voyage*/
.joli {
  padding: 5em;
  width: 100%;
  height: 200px;
  box-sizing: border-box;

background-image: url('https://lh3.googleusercontent.com/proxy/oX3RB4gyOGo6Lwcl8DJrCs1BLkfx706SWW-V-sF_HtkEqJneNgTbVetY8Xi50stclp1crXKAkCn7dlCQshlDfK9vl2ysjkSFZmWcIn55Tb0VBJM')}

/* tableaux*/
table {
  border-collapse: collapse;
}
img {
  border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* texte*/
p, h1, h2, h3, table { font-family: Garamond; color: #520918;}
p{font-size: 25px;}

/*galerie d'images */
/* source: https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}
/* image index.html /
/* source: https://www.w3schools.com/howto/howto_css_image_overlay.asp*/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7ede9;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: #854a32;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


